<!-- Email Footer : BEGIN -->



<center>
   <span style="display: block; width: 680px; max-width: 680px; height: 1px border:solid 1px gray;" class="mobileOff"></span>



   <table width="680" cellpadding="0" cellspacing="0" style="border-left:solid 1px gray; border-right:solid 1px gray; border-bottom:solid 1px gray;">







        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" style="background-color: rgb(0, 102, 153);width: 680px;">
            <tr>
                <td>
                    <div align="center" style="max-width: 100%; margin: auto;">

                        <table  role="presentation" cellspacing="0" cellpadding="0" border="0" width="680">


                                  <tr>
                                 <td  align="center"></td>
                                 <td  align="center"></td>
                                  <td style="text-align: center;  font-weight: 500; font-size: 12px; color: #ffffff;">
                                    <p style="margin: 0; margin-top: 3px;  color: #ffffff;"> <img src="http://cotrav.co/static/email_template_images/email_3.png"  style="color: #ffffff; position: relative; top: 2px;"> 6/813 Main Market, Mehrauli,<br>
                                 New Delhi 110030</p>
                                </td>
                                 <td  align="center"></td>
                                  <td  align="center"></td>

                            </tr>

                             <tr>
                                    <td align="center" ></td>
                                 <td align="center" ></td>
                                  <td align="center" style="text-align: center;  font-weight: 500; font-size: 13px; line-height: 20px; color: #ffffff;text-decoration: underline;">
                           <a href="https://cotrav.co/about" style="color: #ffffff;">  About us </a>
                        </td>
                               <td align="center" ></td>
                                  <td align="center" ></td>


                            </tr>

                             <tr>
                               <td align="center" style="text-align: end; color: #ffffff;font-size: 11px;font-weight: 500;">Follow us : </td>
                               <td align="center" >  <a href="#" > <img src="http://cotrav.co/static/email_template_images/f1.png" ></a>
                                 <a href="#">    <img src="http://cotrav.co/static/email_template_images/f2.png"></a>
                                  <a href="#">    <img src="http://cotrav.co/static/email_template_images/f3.png" ></a>
                               </td>

                                   <td align="center" ></td>

                                <td align="center"  style="text-align: end; color: #ffffff;font-size: 11px;font-weight: 500;">Available on : </td>
                               <td align="center" >  <a href="#" > <img src="http://cotrav.co/static/email_template_images/playstore.png" ></a>

                               </td>

                         </tr>

                   </table>

                    </div>
                </td>
            </tr>
        </table>
     </table>
  </center>
