{% extends 'Company/Approver_2/layout/header.html' %}

{% block content %}
{% for Dashboard in dataDashboard %}
{% if user %}

<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">



                    <div class="row">




                         <div class="col-md-3">
                              <div class="info-box bg-b-purple">
							            <span class="info-box-icon"><i class="material-icons">group</i></span>

							            <div class="info-box-content">
                                            <span class="info-box-text"></span>
                                          <span class="info-box-text">Total Number of Users</span>
                                            <span class="info-box-number" >{{Dashboard.total_users}}</span>
							            </div>
							          </div>

                                <div class="info-box bg-b-green">
							            <span class="info-box-icon"><i class="material-icons">group</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">Number of Active Users</span>
							              <span class="info-box-number">{{Dashboard.total_active_users}}</span>
							            </div>
							          </div>

                                  <div class="info-box bg-b-blue">
							            <span class="info-box-icon"><i class="material-icons">group</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">Number of Inactive Users</span>
							              <span class="info-box-number">{{Dashboard.total_inactive_users}}</span>
							            </div>
							          </div>


                                  <div class="info-box bg-b-orange">
							            <span class="info-box-icon"><i class="material-icons">card_travel</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">Total Bookings</span>
							              <span class="info-box-number">{{Dashboard.total_bookings_count}}</span>
							            </div>
							          </div>
                            </div>

							<div class="col-md-9">

                             <div class="card card-topline-lightblue">
                                <div class="card-head">
                                    <header>Booking summary: (till {% now "jS \o\f F" %})</header>

                                </div>
                                <div class="card-body" id="chartjs_bar_parent" >
                                    <div class="row">


<!--                                        <canvas id="chart-horiz-bar" height="283" class="chartjs-render-monitor" width="567" style="display: block; width: 567px; height: 283px;"></canvas>-->
                                        <canvas id="myChart301" height="400"></canvas>


                                    </div>
                                </div>
                            </div>



                        </div>



                    </div>
                    </div>
                    </div>


<!--			               		<div class="row state-overview">-->
<!--				                  <div class="col-lg-2">-->
<!--			                        <div class="info-box bg-b-purple">-->
<!--							            <span class="info-box-icon"><i class="material-icons">person</i></span>-->
<!--							            <div class="info-box-content">-->
<!--							              <span class="info-box-text">Total Active Users</span>-->
<!--							              <span class="info-box-number">{{Dashboard.total_active_users}}</span>-->
<!--							            </div>-->
<!--							          </div>-->
<!--								  </div>-->

<!--									<div class="col-lg-2">-->
<!--			                        <div class="info-box bg-b-green">-->
<!--							            <span class="info-box-icon"><i class="material-icons">alarm_on</i></span>-->
<!--							            <div class="info-box-content">-->
<!--							              <span class="info-box-text">Total Bookings Done</span>-->
<!--							              <span class="info-box-number">{{Dashboard.total_bookings_count}}</span>-->
<!--							            </div>-->
<!--							          </div>-->
<!--								  </div>-->

<!--									<div class="col-lg-2">-->
<!--			                        <div class="info-box bg-b-black">-->
<!--							            <span class="info-box-icon"><i class="material-icons">new_releases</i></span>-->
<!--							            <div class="info-box-content">-->
<!--							              <span class="info-box-text">Upcoming Trips</span>-->
<!--							              <span class="info-box-number">{{Dashboard.uc_total_bookings_count}}</span>-->
<!--							            </div>-->
<!--							          </div>-->
<!--								  </div>-->

<!--									<div class="col-lg-2">-->
<!--			                        <div class="info-box bg-b-yellow">-->
<!--							            <span class="info-box-icon"><i class="material-icons">report</i></span>-->
<!--							            <div class="info-box-content">-->
<!--							              <span class="info-box-text">Bookings- Pending</span>-->
<!--							              <span class="info-box-number">{{Dashboard.tom_total_bookings_count}}</span>-->
<!--							            </div>-->
<!--							          </div>-->
<!--								  </div>-->

<!--									<div class="col-lg-2">-->
<!--			                        <div class="info-box bg-b-blue">-->
<!--							            <span class="info-box-icon"><i class="material-icons">info</i></span>-->
<!--							            <div class="info-box-content">-->
<!--							              <span class="info-box-text">Invoice- Pending</span>-->
<!--							              <span class="info-box-number">{{Dashboard.pi_total_bookings_count}}</span>-->
<!--							            </div>-->
<!--							          </div>-->
<!--								  </div>-->


<!--									<div class="col-lg-2">-->
<!--			                        <div class="info-box bg-b-green">-->
<!--							            <span class="info-box-icon"><i class="material-icons">local_atm</i></span>-->
<!--							            <div class="info-box-content">-->
<!--							              <span class="info-box-text">Total Invoice Amount</span>-->
<!--							              <span class="info-box-number">{{Dashboard.total_invoice_amount}}</span>-->
<!--							            </div>-->
<!--							          </div>-->
<!--								  </div>-->

<!--		                    </div>-->



<!--                 <div class="row">-->
<!--                        <div class="col-md-4">-->
<!--                            <div class="card card-topline-lightblue">-->
<!--                                <div class="card-head">-->
<!--                                    <header>Total Bookings Done</header>-->
<!--                                    <div class="tools">-->
<!--                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>-->
<!--	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>-->
<!--	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="card-body ">-->
<!--                                    <div class="row">-->
<!--                                         <canvas id="canvasTaxiBookings" height="200"></canvas>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--					   <div class="col-md-4">-->
<!--                            <div class="card card-topline-lightblue">-->
<!--                                <div class="card-head">-->
<!--                                    <header>Invoice Pending</header>-->
<!--                                    <div class="tools">-->
<!--                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>-->
<!--	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>-->
<!--	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="card-body " id="chartjs_pie_parent3">-->
<!--                                    <div class="row">-->
<!--                                         <canvas id="canvasUCBookings" height="200"></canvas>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--					   <div class="col-md-4">-->
<!--                            <div class="card card-topline-lightblue">-->
<!--                                <div class="card-head">-->
<!--                                    <header>Invoice Amount</header>-->
<!--                                    <div class="tools">-->
<!--                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>-->
<!--	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>-->
<!--	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="card-body " id="chartjs_pie_parent2">-->
<!--                                    <div class="row">-->
<!--                                         <canvas id="canvasTOMBookings" height="200"></canvas>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->



<!--                    </div>-->
    <!--Chart JS-->
{% load static %}
    <script src="{% static 'assets/plugins/chart-js/Chart.bundle.js' %}" ></script>
    <script src="{% static 'assets/plugins/chart-js/utils.js' %}" ></script>

{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}



<script>
var ctx301 = document.getElementById("myChart301").getContext("2d");

var chart301 = {
   options: {
       barValueSpacing: 20,
      scales: {
         yAxes: [{

            barPercentage: 1.0
         }],
          xAxes: [{

             ticks: {
                beginAtZero: true,
              },
              scaleLabel: {
                        display: true,
                        labelString: 'Number of bookings',
              },

         }],
      },
      tooltips: {
         mode: 'nearest', //<- set this
         callbacks: {
            label: function(tooltipItem, data) {
               console.log(tooltipItem);
               return data.datasets[tooltipItem.datasetIndex].label + ': ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString();
            }
         }
      },
      responsive: true,
      maintainAspectRatio: false,
      animation: {
         onComplete: function(animation) {

                const chartInstance = this.chart,
                ctx = chartInstance.ctx;

                const fontSize = 10;
                const fontStyle = '600';
                const fontFamily = 'Open Sans';
                ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';
                ctx.fillStyle = '#676A6C';

                this.data.datasets.forEach(function (dataset, i) {
                const meta = chartInstance.controller.getDatasetMeta(i);
                meta.data.forEach(function (bar, index) {
                if(dataset.data[index] != 0){
                  const data = dataset.data[index];
                  ctx.fillText(data, bar._model.x+10, bar._model.y+5);
            }
          });
        });

         }
      }
   },
   type: 'horizontalBar',
   data: {
      labels: ['Total Bookings', 'Pending Approval', 'Active - Approved', 'Active-Assigned' ],
      datasets: [{
         label: 'Taxi',
         borderColor: 'blue',
         borderWidth: 1,
         backgroundColor: Color('blue').alpha(0.5).rgbString(),
         data: [{{Dashboard.taxi_bookings_count}},{{Dashboard.pa_taxi_bookings_count}},{{Dashboard.tom_taxi_bookings_count}},{{Dashboard.uc_taxi_bookings_count}}],
         fill: false
      }, {
         label: 'Bus',
         borderColor: 'orange',
         borderWidth: 1,
         backgroundColor: Color('orange').alpha(0.5).rgbString(),
         data: [{{Dashboard.bus_bookings_count}},{{Dashboard.pa_bus_bookings_count}},{{Dashboard.tom_bus_bookings_count}},{{Dashboard.uc_bus_bookings_count}}],
         fill: false
      }, {
         label: 'Train',
         borderColor: 'green',
         borderWidth: 1,
         backgroundColor: Color('green').alpha(0.5).rgbString(),
         data: [{{Dashboard.train_bookings_count}},{{Dashboard.pa_train_bookings_count}},{{Dashboard.tom_train_bookings_count}},{{Dashboard.uc_train_bookings_count}}],
         fill: false
      }, {
         label: 'Hotel',
         borderColor: 'yellow',
         borderWidth: 1,
         backgroundColor: Color('yellow').alpha(0.5).rgbString(),
         data: [{{Dashboard.hote_bookings_count}},{{Dashboard.pa_hotel_bookings_count}},{{Dashboard.tom_hotel_bookings_count}},{{Dashboard.uc_hotel_bookings_count}}],
         fill: false
      }, {
         label: 'Flight',
         borderColor: 'brown',
         borderWidth: 1,
         backgroundColor: Color('brown').alpha(0.5).rgbString(),
         data: [{{Dashboard.flight_bookings_count}},{{Dashboard.pa_flight_bookings_count}},{{Dashboard.tom_flight_bookings_count}},{{Dashboard.uc_flight_bookings_count}}],
         fill: false
      },{
         label: 'Visa',
         borderColor: 'gray',
         borderWidth: 1,
         backgroundColor: Color('gray').alpha(0.5).rgbString(),
         data: [{{Dashboard.visa_bookings_count}},{{Dashboard.pa_visa_bookings_count}},{{Dashboard.tom_visa_bookings_count}},{{Dashboard.uc_visa_bookings_count}}],
         fill: false
      },{
         label: 'FRRO',
         borderColor: 'red',
         borderWidth: 1,
         backgroundColor: Color('red').alpha(0.5).rgbString(),
         data: [{{Dashboard.frro_bookings_count}},{{Dashboard.pa_frro_bookings_count}},{{Dashboard.tom_frro_bookings_count}},{{Dashboard.uc_frro_bookings_count}}],
         fill: false
      }]





   }
};

var myChart301 = new Chart(ctx301, chart301);

</script>


<script>
	/*Taxi Bookings*/
	  var ctx = document.getElementById("canvasTaxiBookings");
	  var data = {
		labels: ["Taxi","Bus","Train","Hotel","Flight"],
		datasets: [{
		  data: [{{Dashboard.taxi_bookings_count}},{{Dashboard.bus_bookings_count}},{{Dashboard.train_bookings_count}},{{Dashboard.hotel_bookings_count}},{{Dashboard.flight_bookings_count}}],
		  backgroundColor: ["#455C73","#9B59B6","#BDC3C7","#26B99A","#3498DB"],
		  hoverBackgroundColor: ["#34495E","#B370CF","#CFD4D8","#36CAAB","#49A9EA"]

		}]
	  };
	  var canvasUCBookings = new Chart(ctx, {
		type: 'doughnut',
		tooltipFillColor: "rgba(51, 51, 51, 0.55)",
		data: data
	  });



	/*Upcoming Bookings*/
	  var ctx = document.getElementById("canvasUCBookings");
	  var data = {
		labels: ["Taxi","Bus","Train","Hotel","Flight"],
		datasets: [{
		  data: [{{Dashboard.pi_taxi_bookings_count}},{{Dashboard.pi_bus_bookings_count}},{{Dashboard.pi_train_bookings_count}},{{Dashboard.pi_hotel_bookings_count}},{{Dashboard.pi_flight_bookings_count}}],
		  backgroundColor: ["#455C73","#9B59B6","#BDC3C7","#26B99A","#3498DB"],
		  hoverBackgroundColor: ["#34495E","#B370CF","#CFD4D8","#36CAAB","#49A9EA"]

		}]
	  };
	  var canvasUCBookings = new Chart(ctx, {
		type: 'doughnut',
		tooltipFillColor: "rgba(51, 51, 51, 0.55)",
		data: data
	  });





	  	   /*Today/Tomorrow Bookings*/
	  var ctx = document.getElementById("canvasTOMBookings");
	  var data = {
		labels: ["Taxi","Bus","Train","Hotel","Flight"],
		datasets: [{
		  data: [{{Dashboard.taxi_invoice_amount}},{{Dashboard.bus_invoice_amount}},{{Dashboard.train_invoice_amount}},{{Dashboard.hotel_invoice_amount}},{{Dashboard.flight_invoice_amount}}],
		  backgroundColor: ["#455C73","#9B59B6","#BDC3C7","#26B99A","#3498DB"],
		  hoverBackgroundColor: ["#34495E","#B370CF","#CFD4D8","#36CAAB","#49A9EA"]

		}]
	  };
	  var canvasTOMBookings = new Chart(ctx, {
		type: 'doughnut',
		tooltipFillColor: "rgba(51, 51, 51, 0.55)",
		data: data
	  });

</script>





{% endfor %}

{% endblock %}





