{% include 'Email_Templates/email_header.html' %}

<center>

    
        <table width="680" cellpadding="0" cellspacing="0" style="border-left:solid 1px gray; border-right:solid 1px gray;" >
            <tr>
                <td align="center" valign="top">
                    <table width="640" cellpadding="0" cellspacing="0" class="wrapper" bgcolor="#FFFFFF">
                        <tr>
                            <td align="center" valign="top">
                                <table width="680" cellpadding="0" cellspacing="0" class="container" bgcolor="#ffffff" height="100">
                                    <tr>
                                       <th> <img src="http://cotrav.co/static/email_template_images/bg_1.png" width="680"  class="img_bg" alt="img"><th>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                    </table>




                          <table width="680" cellpadding="0" cellspacing="0" class="wrapper" bgcolor="#FFFFFF" >
                            <tr>
                              <td align="center" valign="top" >

                                  <table width="640" cellpadding="0" cellspacing="0" class="wrapper" bgcolor="#FFFFFF" >
                        <tr>
                            <td align="center" valign="top" >
                                <table width="600" cellpadding="0" cellspacing="0" class="container" >


                                      <tr>

                                        <td width="300" class="mobile" align="center" valign="top" >
                                            <h1 style="font-size: 14px; color: #000000;">Dear {{user_name}}, </h1><p style="font-size: 13px; color: #000000;">Thanks for signing up. A CoTrav official would be contacting you in 24 hours to discuss the business solutions for your team.</p>
                       <small>

                           <a href="http://cotrav.co/about"> Click here </a> to know more about us</small>
                                        </td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                        </tr>
                    </table>

                                    <table width="600" cellspacing="0" border="0" class="container" >

                                         <tr>
                                    <td width="39%"><hr style="border-top: 3px double #8c8b8b;"></td>
                                    <td style="text-align: center;font-size: 14px;color: #000000;"><strong>Signup Details</strong> </td>
                                      <td width="39%"><hr style="border-top: 3px double #8c8b8b;"></td>
                                   </tr>



                                        <tr>
                                           <td width="200" class="mobile" align="center" valign="top" style="padding-top: 14px; overflow-wrap: break-word; word-break: break-all;color: #000000;font-size: 13px">
                                             <strong>Company Name :</strong>   <br>{{company}}
                                            </td>
                                            <td width="200" class="mobile" align="center" valign="top" style="padding-top: 14px; overflow-wrap: break-word; word-break: break-all;color: #000000;">
                                               &nbsp;
                                            </td>
                                            <td width="200" class="mobile" align="center" valign="top" style="font-size: 13px;padding-top: 14px; overflow-wrap: break-word; word-break: break-all;color: #000000;">
                                             <strong>Location  :</strong>  <br>{{location}}
                                            </td>
                                        </tr>


                                         <tr>
                                           <td width="200" class="mobile" align="center" valign="top" style="padding-top: 14px; overflow-wrap: break-word; word-break: break-all;color: #000000;font-size: 13px">
                                          <strong>Contact Person : </strong> <br>{{user_name}}
                                            </td>
                                            <td width="200" class="mobile" align="center" valign="top" style="padding-top: 14px; overflow-wrap: break-word; word-break: break-all;color: #000000;">
                                               &nbsp;
                                            </td>
                                            <td width="200" class="mobile" align="center" valign="top" style="font-size: 13px;padding-top: 12px; overflow-wrap: break-word; word-break: break-all;color: #000000;">
                                       <strong>Contact Number :</strong>  <br>{{cp_no}}
                                            </td>
                                        </tr>


                                          <tr>
                                           <td width="200" class="mobile" align="center" valign="top" style="padding-top: 14px; overflow-wrap: break-word; word-break: break-all;color: #000000;font-size: 13px">
                                           <strong>Contact Email : </strong> <br>{{cp_email}}
                                            </td>
                                            <td width="200" class="mobile" align="center" valign="top" style="padding-top: 14px; overflow-wrap: break-word; word-break: break-all;color: #000000;">
                                               &nbsp;
                                            </td>
                                            <td width="200" class="mobile" align="center" valign="top" style="font-size: 13px;padding-top: 14px; overflow-wrap: break-word; word-break: break-all;color: #000000;">
                                      <strong>Message :</strong>  <br>{{message}}
                                            </td>
                                        </tr>

                                    </table>

                            </td>
                        </tr>
                        <tr>
                            <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
        <span style="display: block; width: 680px; max-width: 680px; height: 1px border:solid 1px gray;" class="mobileOff"></span>
                        <table width="680" cellpadding="0" cellspacing="0"  bgcolor="#ffffff" style="border-left:solid 1px gray; border-right:solid 1px gray;" >
                          <tr>
                              <td style="padding: 20px; font-size: 13px; line-height: 15px; text-align: center; color: #888888;">

                              </td>
                          </tr>
                      </table>



                           <table width="680" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="border-left:solid 1px gray; border-right:solid 1px gray;" >
                      <tr>
                          <td>
                              <div align="center" style="max-width: 680px; margin: auto;">

                                  <table width="600" cellspacing="0" border="0" class="container" style="font-family: 'Trebuchet MS';">
                                      <tr>
                                      <td width="39%"><hr style="border-top: 3px double #8c8b8b;"></td>
                                      </tr>
                                  </table>

                                  <table  role="presentation" cellspacing="0" cellpadding="0" border="0" >

                                      <tr>
                                        <td style="text-align: center; font-size: 13px; "> For any further queries, please contact us at : </td>
                                      </tr>



                               </table>
                                     <br>
                              </div>
                          </td>
                      </tr>
                   </table>



                   <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" style=" background-color: #ffffff;border-left:solid 1px gray; border-right:solid 1px gray;">
                      <tr>
                          <td>
                              <div align="center" style=" margin: auto;">

                                  <table  role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">

                                        <tr>
                                           <td align="center" style="font-size: 13px; "> <img src="http://cotrav.co/static/email_template_images/email_2.png" > <a href="#" style="color: #000000;text-decoration: none;">    support@cotrav.co</a></td>

                                           <td align="center" style="font-size: 13px;  "><img src="http://cotrav.co/static/email_template_images/email_1.png" >
                                            9881102875 / 8860375872 </td>
                                          </tr>

                               </table>


                              </div>
                          </td>
                      </tr>
                   </table>
                   <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" style="  background-color: #ffffff;border-left:solid 1px gray; border-right:solid 1px gray;">
                    <tr>
                        <td>
                            <div align="center" style=" margin: auto;">

                                <table  role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">

                                      <tr>

                                        </tr>

                             </table>
                                   <br>
                            </div>
                        </td>
                    </tr>
                   </table>

        </Center>

       


{% include 'Email_Templates/email_footer.html' %}
