

{% extends 'main_base.html' %}

{% block description %}Simplifying Corporate Travel with our Comprehensive Travel Solutions.{% endblock %}
{% block keywords %}ISO Certified, 24X7 Support, Dedicated Relationship Manager{% endblock %}
{% block title %}Cotrav | About Us{% endblock %}

{% block content %}

{% load static %}

<section class="page-title-section2 bg-img cover-background  " style="padding: 0px;">

  <div class="row">
     <div class="col-lg-7">
        <div  style="display: inline-flex;    display: inline-flex;
    height: 90%;
    width: 100%;">
         <img src="{% static 'img/bg/about_banner.jpg' %}" class="bg_aboutus">
          <img src="{% static 'img/bg/about_banner_2.jpg' %}" class="bg_aboutus_1">
     </div>
     </div>
       <div class="col-lg-5">
          <div class="about_cotrav_1">
     <span class="about_content"> Effortless Corporate Travel</span>
       <p class="about_content_1" >Simplifying corporate travel with our comprehensive travel solutions.</p>

         <p class="about_content_">"Our Mission
                     We are committed to delivering the best value and the most reliableservices for all your corporate travel needs."</p>

</div>
  </div>
  </div>

 </section>
        <!-- start project section -->
           <section style="padding-top: 0px;">
            <div class="container">
                <div class="row">

                    <!-- start about left section -->
                    <div class="col-lg-12 col-md-12 sm-margin-30px-bottom" style="text-align: justify">

                        <div class="section-heading title-style5 left half">
                     
                            <h4 class="font-weight-700">ABOUT COTRAV</h4>
                            
                        </div>

                         <p>COTRAV is an ISO certified travel solutions provider. In the last 5 years, we have strived to deliver distinctive corporate travel experiences keeping in mind the unique travel needs of each business.</p>

                         <p>We understand that there is no one-size-fits-all approach in travel and offer flexible and comprehensive travel solutions to ease travel management for our clients. </p>

                         <p>We provide end-to-end solutions – from pre-trip processes like approval to making bookings, compliance, and analytics, up to post-travel reconciliation and expense management – for your organization. CoTrav's holistic solutions leverage the latest travel technology to make booking, travel, and reconciliation seamless.</p>

                         <p>With operations spread across 300 cities in India, we have a full-fledged customer care support operating 24x7 and 365 days to serve you better.</p>

                    </div>
                    <!-- end about left section -->

                    <!-- start about right section -->
                    <!--<div class="col-lg-7 col-md-12">
                        <div class="about-carousel margin-100px-left sm-margin-50px-left xs-no-margin-left">
                            <div class="owl-carousel owl-theme">
                                <div class="item"><img src="{% static 'img/interior/interior-about-01.jpg' %}" alt="" /></div>
                                <div class="item"><img src="{% static 'img/interior/interior-about-02.jpg' %}" alt="" /></div>
                               
                            </div>
                        </div>
                    </div>-->
                    <!-- end about right section -->

                </div>
            </div>

        </section>
        <!-- end about section -->


        <!-- end why cotrav section -->
       
        <!-- start video section -->
       <section class="parallax " id="parallax2" data-overlay-dark="4" data-background="{% static 'img/bg/corporate-travel.jpg' %}" >

            <div class="container text-center">

                <div class="section-heading half white">
                    <h1>Who we are? </h1>
                    <p class="alignment" style="font-weight: 600;">Blending years of expertise with the right technology, CoTrav is a one-of-its-kind solution that fulfills all of your travel needs.</p>
                  
              
            </div>
        </section>
        <!-- end advice section -->

   
        

       <!-- end service section -->

                <!-- start we work section -->
        <section>
            <div class="container">
                <div class="section-heading">
                    <h3>How we Work?</h3>
                    <p class="width-55 sm-width-75 xs-width-95">Getting Started with CoTrav is simple, with just 4 steps. </p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-12 sm-margin-20px-bottom">
                        <div class="feature-box-01">
                            <img  src="{% static 'img/content/how_icon_5_1.png' %}" style="width: 80px;">
                            <h4 class="font-size18 margin-10px-bottom">Engage</h4>
                            <p class="font-size15 line-height-24">  Cotrav’s team of experts connect with you to understand your travel requirements comprehensively.</p>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 sm-margin-20px-bottom">
                        <div class="feature-box-01">
                            <img  src="{% static 'img/content/how_icon_6_1.png' %}" style="width: 80px;">
                            <h4 class="font-size18 margin-10px-bottom"> Ideate </h4>
                            <p class="font-size15 line-height-24">We then internally brainstorm on a cost-effective way to solve your travel needs and develop the ideal proposal.
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="feature-box-01" style="    height: 92%;">
                             <img  src="{% static 'img/content/how_icon_7_1.png' %}" style="width: 80px;">
                            <h4 class="font-size18 margin-10px-bottom">  Propose </h4>
                            <p class="font-size15 line-height-24">Our team presents the proposal with the live demo of our systems for you to visualize its working along with your current processes. </p>

                        </div>
                    </div>

                       <div class="col-lg-3 col-md-12">
                        <div class="feature-box-01" style="    height: 92%;">
                           <img  src="{% static 'img/content/how_icon_8_1.png' %}" style="width: 80px;">
                            <h4 class="font-size18 margin-10px-bottom">  Go Live  </h4>
                            <p class="font-size15 line-height-24">Once the specifics are agreed upon, we create the corporate account and customize the workflows to align with your internal policies.</p>

                        </div>
                    </div>

                </div>
              
               <p style="text-align: center;color: black;font-weight: 500;">Getting Started with CoTrav is simple, with just 4 steps.And that is all. Your teams can now use CoTrav’s state-of-the-art portal to start planning their travels and make bookings online.  </p>

                <p  style="text-align: center;width: 100%;">Using CoTrav once onboarded is seamless too.  </p>
            
                            <div class="row">
                    <div class="col-lg-3 col-md-12 sm-margin-20px-bottom">
                        <div class="feature-box-01"  style="height: 92%;">
                        <img  src="{% static 'img/content/how_icon_1_1.png' %}" style="width: 80px;">
                            <h4 class="font-size18 margin-10px-bottom"> Open Corporate Account</h4>
                            <p class="font-size15 line-height-24"> CoTrav creates the corporate account for the central and admin teams and the end-users as required and provides access to the mobile app and web portal. </p>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 sm-margin-20px-bottom">
                        <div class="feature-box-01"  style="height: 92%;">
                           <img  src="{% static 'img/content/how_icon_2_1.png' %}" style="width: 80px;">
                            <h4 class="font-size18 margin-10px-bottom"> Plan your trip online </h4>
                            <p class="font-size15 line-height-24">Either the employee or the admin can start planning the tour online through the app or the online portal and submit a travel request. 
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="feature-box-01" style="height: 92%;">
                              <img  src="{% static 'img/content/how_icon_3_1.png' %}" style="width: 80px;">
                            <h4 class="font-size18 margin-10px-bottom">   Approval of the booking</h4>
                            <p class="font-size15 line-height-24">The Booking gets validated as per the company approval matrix, which can be tailored to internal organizational hierarchies. </p>

                        </div>
                    </div>

                       <div class="col-lg-3 col-md-12">
                        <div class="feature-box-01" style="    height: 92%;">
                            <img  src="{% static 'img/content/how_icon_4_1.png' %}" style="width: 80px;">
                            <h4 class="font-size18 margin-10px-bottom">  Transparent Billing and Monitoring </h4>
                            <p class="font-size15 line-height-24">Receive daily MIS on the system to track all bookings. Experience seamless invoicing, billing, and reporting through a single interface. </p>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Our team Section Starts -->
         <section>
            <div class="container">
                <div class="section-heading">
                    <h3>Our Team</h3>
                    <p class="width-55 sm-width-75 xs-width-95">
                       We'r smart, We'r hard working, We'r easy to talk to,and we love a challenge</p>
                </div>
                <div class="owl-carousel owl-theme" id="services-carousel">
                    <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                                <h3>Vinod Kumar Sah</h3>
                                <p>Founder | CTO</p>
                            </div>
                        </div>
                    </div>
                     <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team_1.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                               <h3>Varsharani Tandale</h3>
                                <p>Product Lead</p>
                            </div>
                        </div>
                    </div>

                     <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team_2.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                               <h3>Balwant Chauhan</h3>
                                <p>Senior Web Developer</p>
                            </div>
                        </div>
                    </div>

                     <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team_3.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                               <h3>Sanket Sudhakar Chiprikar</h3>
                                <p>Web Developer</p>
                            </div>
                        </div>
                    </div>

                       <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team_4.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                               <h3>Siddharth Jain</h3>
                                <p>Frontend Developer</p>
                            </div>
                        </div>
                    </div>

                     <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team_5.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                               <h3>Shreyash Pattewar</h3>
                                <p>Android Developer</p>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </section>
        <!-- Our team Section Ends -->


{% endblock %}