{% extends 'main_base.html' %}

{% block description %}Cotrav | Forgot Password{% endblock %}
{% block keywords %}Cotrav, Forgot Password, Reset Password{% endblock %}
{% block title %}Cotrav | Forgot Password{% endblock %}

{% block content %}

{% load static %}
{% include 'cotrav_alert_message.html' %}
<div class="main-wrapper">
    <!-- start registration form -->
<!-- start registration form -->

<section class="parallax position-relative box-hover" data-overlay-dark="6" data-background="img/bg/bg-login.jpg">
   <div class="container">
       <div class="row">
           <div class="col-lg-6 center-col">
               <div class="bg-white padding-30px-all sm-padding-20px-all border border-width-5">
                   <div class="section-heading section-heading2">
                       <h3 class="login_btn">Reset Password From</h3>

                   </div>
                   <form class="registration-form" action="forgot_password" method="post">
                       <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
                       <input type="hidden" required name="corporate_login_type" value="{{ request.GET.user_type }}">
                       <input type="hidden" required name="email" value="{{ request.GET.user_email }}">
                       <div class="row">

                           <div class="col-11">
                             <img src="{% static 'img/logos/4.png' %}" id="contact_icon1" style="margin-right: 6px;">
                             <input type="password" required name="new_password" placeholder="New Password" maxlength="70" class="medium-input input_signupform">
                            </div>
                          
                        
                           <div class="col-11">
                                <img src="{% static 'img/logos/4.png' %}" id="contact_icon1" style="margin-right: 6px;">
                               <input type="password" required name="new_conform_password" placeholder="Re-Type Password *" maxlength="70" class="medium-input input_signupform">
                           </div>
                         

                          
                           <div class="col-12">
                               <button class="butn theme medium" type="submit"><span>Reset Password</span></button>

                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>

   </div>
</section>
<!-- end registration form -->

</div>
<!-- end main-wrapper section -->





{% endblock %}